<%= turbo_stream.action(:append, "chat") do %>
  <div class="<%= ["message", "unseen", dom_id(user)].join(" ") %>" data-chat-target="message">
    <h4 class="username">
      <%= user.username.truncate(14) %>
    </h4>
    <p>
      <%= text %>
    </p>
  </div>
<% end %>