<%= turbo_stream.action(:append, "chat") do %>
  <div class="<%= ["message", "unseen", "user_#{id}"].join(" ") %>" data-chat-target="message">
    <h4 class="username">
      <%= username %>
    </h4>
    <p>
      <%= text %>
    </p>
  </div>
<% end %>