<li>
  <div class="meta">
    <div class="date">
      <%= render_date joke.created_at %>
    </div>
    <div class="points">
      <%= joke.n_votes > 0 ? "+#{joke.n_votes}" : 0 %>
    </div>
  </div>
  <p>
    <%= joke.text %>
  </p>
</li>