<div class="buttons-container mobile-navigation">
  <a class="button" data-containers-target="button" data-container-name="catalogue" data-action="click->containers#show">
    <%= t(:".jokes") %>
  </a>
  <a class="button selected" data-containers-target="button" data-container-name="summary" data-action="click->containers#show">
    <%= t(:".profile") %>
  </a>
</div>