<div id="profile" class="two-columns" data-controller="containers">
  <%= content_for(:nav_button) do %>
    <%= link_to "В лобби", games_path, class: :button %>
    <%# button_to "Присоединиться", game_join_path(game) if game.joinable? %>
  <% end %>
  <%= render partial: "catalogue", locals: { user: @user, jokes: @jokes } %>
  <%= render partial: "summary", locals: { user: @user, current_or_guest_user: current_or_guest_user } %>

  <div class="buttons-container mobile-navigation">
    <a class="button" data-containers-target="button" data-container-name="catalogue" data-action="click->containers#show">Шутки</a>
    <a class="button selected" data-containers-target="button" data-container-name="summary" data-action="click->containers#show">Профиль</a>
  </div>
</div>