.data-container {
  #user-list {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    > * {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      border: solid 1px var(--white);
      padding: 0.75rem;
      column-gap: 0.5rem;

      .score {
        flex-basis: 3ch;
        flex-shrink: 0;
        font-size: 1.5em;
      }
    }

    >*:last-child {
      margin-bottom: 0;
    }
  }
}