.data-container {
  container-type: size;

  #user-list {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    > li {
      display: flex;
      align-items: center;
      padding-left: 0.5ch;
      padding-right: 0.5ch;
      margin-bottom: 1rem;
      border: solid 1px var(--white);
      column-gap: 0.5ch;

      * {
        color: var(--white);
        font-size: clamp(1rem, calc(1vw + 1vh), 1.5rem);
      }

      .score {
        text-align: right;
        flex-basis: 3ch;
        flex-shrink: 0;
        font-size: clamp(0.75rem, calc(1vw + 1vh), 1.5rem);
        span {
          display: none;
        }

        span:last-child {
          display: block;
        }
      }

      @media(max-width: 1500px) {
        flex-direction: column;
        row-gap: 0.5ch;

        .score { 
          flex-basis: auto 
        }
      }
    }

    > li:hover:has(> .settings.hidden),
    > li.clicked:has(> .settings.hidden) {
      .score {
        span {
          display: none;
        }

        span:first-child {
          display: block;
        }
      }      

      .username {
        display: none;
      }

      .settings.hidden * {
        display: block;
        background: none;
        border: none;
        font-size: inheirt;
        font-family: "Nunito Sans";
        padding: 0;
        text-decoration: underline;
        cursor: pointer;
      }

      .settings.hidden {
        display: flex !important;
        align-items: center;
        gap: 0.5ch;
        width: 100%;

        justify-content: space-around;
        :has(> *:only-child) {
          justify-content: center;
        }
      }
    }

    > *:last-child {
      margin-bottom: 0;
    }

    > .slot {
      border-color: var(--white-dimmer);
      * {
        color: var(--white-dimmer);
      }
    }
  }

  > button {
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      display: inline-block;
    }

    .icon {
      display: none;
      height: 150%;
      aspect-ratio: 1 / 1;
    }

    :has(span.icon:only-child) {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  @container(max-width: 280px) {
    > button {
      .text {
        display: none;
      }

      .icon {
        display: inline-block;
      }
    }
  }
}