#current-round {
  .task {
    --task-padding: 2rem;
    @media(max-height: 850px), (max-width: 600px) { --task-padding: 1.5rem; }

    height: 100%;
    padding: var(--task-padding);
    box-sizing: border-box;
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--white);

    overflow: hidden;

    * {
      color: var(--black);
    }
    
    // upper div with h2
    > .description {
      display: flex;
      flex-direction: column;
      max-height: 75%;

      flex: 1;
    }

    > .description,
      .jokes-container {
      margin-left: 1em;
      margin-right: 1em;
      
      > h2 {
        font-size: clamp(1rem, var(--adaptive-font-size), 1.25rem);
        // padding-top: 0;
        // padding-bottom: 0;
        color: var(--red);
      }

      @media(max-height: 850px) and (max-width: 600px) {
        > h2 {
          padding-top: 0;
          margin-bottom: 0;
        }
      }

      // p-wrapper
      > div {
        overflow-y: auto;
        > p {
          font-size: clamp(0.75rem, var(--adaptive-font-size), 1.25rem);
          margin-top: 0;
        }
      }
    }

    > .jokes-container {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;

      .joke {
        flex-basis: 100%;

        .user {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        color: var(--black);

        > * {
          path {
            color: var(--black);
          }
        }
      

        > *.disabled {
          path {
            color: var(--white-dim);
          }
        }
      } 
    }

    form {
      flex: 0 1 8rem;
      display: flex;

      textarea {
        // width: calc(100% - (var(--task-padding) * 2));
      }
    }
  }

  .task.rules {
    background-color: var(--red);

    * {
      color: var(--white);
    }
  }

  .action {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media(max-height: 550px) {
      flex-direction: row;
    } 
  }
}