.data-container {
  container-type: size;

  #user-list {
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    // to accomodate for shadows and overflow-y at the same time
    // this hacky thing prevents shadow clipping. But only side ones

    // TODO: How to make the last card's shadow not get clipped
    // yet maintain the alignment with other grid boxes on scroll?
    margin: 0 -1rem;
    padding: 0 1rem;


    > li {
      display: flex;
      align-items: center;
      padding-left: 0.5ch;
      padding-right: 0.5ch;
      margin-bottom: 1rem;
      // border: solid 1px var(--white);
      column-gap: 0.5ch;

      * {
        color: var(--white);
        font-size: clamp(1rem, calc(1vw + 1vh), 1.5rem);
        text-transform: none;
        // @media(min-width: 951px) and (min-height: 951px) {
        //   font-size: 0.8em;
        // }
      }

      .score {
        text-align: right;
        flex-basis: 3ch;
        flex-shrink: 0;
        font-size: clamp(0.75rem, calc(1vw + 1vh), 1.5rem);
        span {
          display: none;
        }

        span:last-child {
          display: block;
        }
      }

      @media(max-width: 1600px) {
        flex-direction: column;
        row-gap: 0.5ch;

        .score { 
          flex-basis: auto 
        }
      }
    }

    @media(hover: hover) {
      > li:hover:has(> .settings),{
        .score {
          span {
            display: none;
          }

          span:first-child {
            display: block;
          }
        }      

        .username {
          display: none;
        }

        .settings {
          display: flex;
        }
      }
    }

    > li.clicked:has(> .settings) {
      .score {
        span {
          display: none;
        }

        span:first-child {
          display: block;
        }
      }      

      .username {
        display: none;
      }

      .settings {
        display: flex;
      }
    }

    > *:last-child {
      margin-bottom: 0;
    }

    .settings * {
      display: block;
      background: none;
      border: none;
      font-size: inheirt;
      font-family: "Nunito Sans";
      padding: 0;
      text-decoration: underline;
      cursor: pointer;
    }

    .settings {
      display: none;
      align-items: center;
      gap: 0.5ch;
      width: 100%;

      justify-content: space-around;
      :has(> *:only-child) {
        justify-content: center;
      }
    }

    > .slot {
      border-color: var(--white-dimmer);
      * {
        color: var(--white-dimmer);
      }
    }
  }

  > button.settings {
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      display: inline-block;
    }

    .icon {
      display: none;
      height: 150%;
      aspect-ratio: 1 / 1;
    }

    :has(span.icon:only-child) {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    @container(max-width: 280px) {     
      .text {
        display: none;
      }

      .icon {
        display: inline-block;
      }
    }
  }

  .panel {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    .rules {
      flex: 0;
      @media(max-width: 1100px) and (min-width: 951px) { 
        padding-right: 0.75em;
        padding-left: 0.75em;
      }
    }

    > button.viewers {
      flex: 1;
      display: flex;
      gap: 0.5ch;
      // @media(max-width: 1100px) and (min-width: 951px) { 
      //   gap: 0.25ch; }
      justify-content: center;
      align-items: center;
      padding-right: 0.5ch;
      padding-left: 0.5ch;
      @media(max-width: 1100px) and (min-width: 951px) { 
        padding-right: 0.25em;
        padding-left: 0.25em;
      }

      
      span { 
        @media(max-width: 1100px) and (min-width: 951px) { 
          font-size: Min(var(--global-font-size), 1rem);
        }
      }

      > svg {
        width: 2.5ch;
      }
    }
  }
}