main.lobby {
  overflow: auto;
}

#lobby {
   height: 100%;

  // left buttons
  > div:nth-of-type(2) {
    grid-template-columns: 2fr 1fr;
  }

  // right buttons
  > div:nth-of-type(3) {
    grid-template-columns: 1fr;
  }

  // mobile buttons on top
  div.buttons.mobile-navigation {
    display: none;
  }

  @media(max-width: 950px) {
    .buttons {
      * {
        font-size: 1rem;
        padding: 0.5rem 0.25rem;
      }
    }

    // left buttons (which become bottom buttons in this query)
    > div:nth-of-type(2) {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 1rem;
    }
  }
}