body:has(main > #authentication) {
  overflow-y: scroll;
}

#authentication {
  > a.sign-in:has(~ #authentication-form > #new-session),
  > a.sign-up:has(~ #authentication-form > #new-registration) {
    background-color: var(--red);
    border: none;
    pointer-events: none;
    box-shadow: none;
  }

  #authentication-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    padding-bottom: 1rem;
    border: none;
    grid-row: 2 / 3;

    form {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      border: solid 1px var(--white);
      > * {
        padding-bottom: 1.5rem;
      }

      > *:last-child {
        // padding-bottom: 0;
      }
    }
  }

  #authentication-form:has(> .new-session) {
    grid-column: 1 / 2;
  }

  #authentication-form:has(> .new-registration) {
    grid-column: 2 / 3;
  }

  .welcome {
    grid-row: 2 / 3;

    border: none;

    @media(max-width: 950px) {
      display: none;
    }
  }
}
