<article class="welcome">
  <section>
    <h2>
      Добро пожаловать!
    </h2>
  </section>
  <section>
    <h3>
      Где я?
    </h3>
    <p>
      Finejoke - это <strong>бесплатная</strong> игра, в которой игроки придумывают шутки. Чья шутка смешнее, тот и побеждает.
    </p>
  </section>
  <section>
    <h3>
      А как играть?
    </h3>
    <p>
      Finejoke похож на <em>"Карты против всех"</em> и на <em>"Смехлыст"</em> из <em>"The Jackbox Party Pack"</em>. Главное отличие - игроки <strong>сами</strong> придумывают шутки от и до.
    </p>
    <ol>
      <li>
        Один игрок придумывает завязку к шутке - сетап;
      </li>
      <li>
        Затем остальные игроки придумывают остроумные развязки к этому сетапу - панчлайны;
      </li>
      <li>
        Когда шутки готовы, проходит голосование за лучший вариант. Один голос равен одному очку.
      </li>
    </ol>
    <p>
      У игр могут быть дополнительные правила - с ними можно ознакомиться, нажав на большой знак вопроса на странице игры.
    </p>
  </section>
  <section>
    <h3>
      Что-нибудь ещё?
    </h3>
    <p>
      Конечно! Если вы заведёте постоянный аккаунт, вам будут доступны фишки с <strong>искусственным интеллектом</strong>: ChatGPT может помочь написать забавный ответ или побыть "виртуальным ведущим", комментируя происходящее в игре.
    </p>
  </section>
  <section>
    <h3>А кто это сделал?</h3>
    <p>Ознакомиться с исходным кодом можно <strong><a href="">здесь</a></strong>.</p>
  </section>
</article>
