body:has(.error) {
  #flash {
    display: none;
  }
}

main.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    text-align: center;
  }

  .button {
    margin-top: 4rem;
    width: 15rem;
  }
}