<%= tag.turbo_frame(
      id: "current-round", 
      src: (game_round_path(game, game.current_round) if game.ongoing?), 
      data: { 
        controller: "vote" 
      }) do %>
  <div class="task rules">
    <h2>Правила</h2>
  </div>
  <div class="action">
    <%= button_to("Start game", game_rounds_path(game), data: { turbo_frame: "current-round" }) if game.waiting? || game.on_halt? %>
    <%= render_wait %>
  </div>
<% end %>
