<%= tag.div class: :joke, data: { jokes_target: :joke } do %>
  <div class="user">
    Игроки
  </div>
  <p class="setup press-font">
    Заходят игрок в игру-нейм
  </p>

  <p class="punchline">
    И не играют. Всем смеяться
  </p>
<% end %>