<%= tag.div class: :joke, data: { jokes_target: :joke } do %>
  <div class="user">
    <%= t(:".players") %>
  </div>
  <p class="setup press-font">
    <%= t(:".join_the_game") %>
  </p>

  <p class="punchline">
    <%= t(:".and_do_not_play") %>
  </p>
<% end %>