header {
  margin-bottom: 1rem;

  * {
    color: var(--black);
  }

  h1 {
    margin: 0;
  }

  > nav.three-columns {
    align-items: center;

    > * {
      padding: 0;
    }

    .end {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      align-items: center;
      
      div {
        grid-row: 2 / 3;
      }

      .notice {
        font-size: 1rem;

        grid-row: 3 / 4;
      } 
    }
  }
}