header {
  * {
    color: var(--black);
  }

  h1 {
    margin: 0;
  }

  > nav.three-columns {
    display: grid;
    align-items: center;

    .start {
      
      .button {
        padding: 0.75em;
        box-sizing: border-box;
      }

      @media(max-width: 950px) {
        > * {
          display: none;
        }
      }
    }

    .end {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      align-items: center;
      
      div {
        grid-row: 2 / 3;
      }

      .profile-short {
        display: none;
      }

      @media(max-width: 950px) {
        .profile {
          display: none;
        }

        .profile-short {
          display: block;
        }

        .notice {
          display: none;
        }
      }

      .notice {
        font-size: 1rem;

        grid-row: 3 / 4;
      }
    }
  }

  @media(max-width: 950px) {
    * {
      font-size: 1.25rem;
    }
  }
}