  .task {
    .description {
      article.rules {
        h2, h3, h4 {
          color: var(--accent-alert);
          font-family: var(--press-start-2p);
        }

        * { 
          font-family: var(--nunito-sans);
        }

        p, li {
          font-weight: 600;
        }

        ul {
          li {
            list-style: square;
          }
        }

        ul, ol {
          margin-left: 2rem;
          padding-left: 0;
        }
      }
    }
  }