.task {
   form {
    display: flex;
    position: relative;

    textarea {
      border: none;
      padding-bottom: 1.5rem;
      // min-height: 4ch;
      // width: calc(100% - (var(--task-vertical-padding) * 2));
    }

    .symbol-counter {
      position: absolute;
      color: var(--black-dim);
      font-family: var(--press-start-2p);
      top: 0.25rem;
      right: 2rem;
      font-size: 1rem;
    }
  }
}