.timer {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: var(--teal);
  z-index: 2147483647;
  transition:
    width 1s linear,
    opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);

  &.red {
    background: var(--red);
  }
}
