#profile {
  height: 100%;

  #summary {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;

    h2 {
      padding-bottom: 0;      
      
      .label {
        margin-bottom: 1rem;
      }

      .value {
        margin-left: 0;
        margin-bottom: 1rem;
      }
    }

    .statistics-container {
      flex: 1;
      overflow: auto;
      
      display: flex;
      flex-direction: column;

      * {
        margin-bottom: 0.75rem;
      }

      > .button-container  {
        justify-self: flex-end;
        flex: 1;

        display: flex;
        align-items: flex-end;

        > div {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        .button,
        button {
          width: 100%;
        }
      }
    }

    .buttons-container {
      padding-top: 1rem;

      > * { 
        margin-bottom: 1rem;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  #catalogue {
    h2 {
      padding-bottom: 0;
    }

    li {
      display: flex;
      justify-content: space-between;
    }
  }
}

