#profile {
  // #summary {
    .form-large {    
      .email-not-confirmed {
        p {
          font-size: 0.9em;
          color: var(--black);
          margin-bottom: 1rem;
        }
      }

      .switch-container > div > div:first-child {
        margin-left: 1rem;
      }

      .delete-account {
        display: flex;
        justify-content: right;

        * {
          font-size: 0.75em
        }
      }
    }
  // }
}