<%= form_with(model: Message, 
              url: game_messages_path(game), 
              autocomplete: :off,
              html: {
                data: {
                  chat_target: :form,
                  action: "turbo:submit-end->chat#resetForm"
                }
              }
              ) do |form| %>
  <div class="message-input">
    <%= form.text_field :text, class: "nunito-font", aria_label: "Текст сообщения", placeholder: "Привет!", autocomplete: :off %> 
    <%= form.submit type: :image, src: asset_path("icons/send-message.svg"), aria_label: "Отправить сообщение" %>
  </div>
<% end %>
