<div class="chat-container hidden-when-mobile" data-controller="chat" data-containers-target="container" data-container-name="chat">
  <style>
    <%# coloring self messages with user's unique id %>
    <%= ".message.user_#{user.id} > p { background-color: var(--white-dimmest) }".html_safe %>
  </style>
  <h2>Чат</h2>
  <div id="chat">
  </div>
  <div class="form">
    <%= render partial: "games/chat_form", locals: { game: game } %>
  </div>
</div>