<% content_for(:main_class, :lobby) %>

<%= turbo_stream_from "lobby", channel: LobbyChannel %>

<div id="lobby" class="two-columns">  
  <div id="catalogue" class="red">
    <h2>Комнаты</h2>
    
    <ul id="games">
      <%= render partial: "game_entry", collection: @games, as: :game %>
    </ul>
  </div>
  
    
  <div>
    <h2>Новая игра</h2>
    <%= render partial: "form", locals: { game: @game } %>
  </div>

  <div class="buttons">
    <button>Подключиться</button>
    <button>Смотреть</button>
  </div>

  <div class="buttons">
    <input type="submit" form="new-game" value="Создать"/>
  </div>

  <div class="buttons">
    <button>Комнаты</button>
    <button>Создать</button>
  </div>
</div>