<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<%= turbo_stream_from "lobby", channel: LobbyChannel %>

<div id="games">
  <%= render partial: "game_entry", collection: @games, as: :game %>
</div>

<%= link_to "New game", new_game_path %>
