.bg-accent-alert {
  background-color: var(--accent-alert) !important;
  color: var(--white) !important;
}

.accent-alert {
  color: var(--accent-alert) !important;
  border-color: var(--accent-alert) !important;
}

.black {
  color: var(--black) !important;
}