.hidden {
  display: none !important;
}

@media(max-width: 950px) {
  .hidden-when-mobile {
    display: none !important;
  }
}

@media(min-width: 951px) {
  .shown-when-mobile {
    display: none !important;
  }
}
