<div class="mobile-navigation buttons-container">
  <h2 class="wrapper">
    <button
      data-containers-target="selected button shown-when-mobile" 
      data-container-name="welcome" 
      data-action="click->containers#show">
      F.A.Q.
    </button>
  </h2>
  <h2 class="wrapper">
    <button
      data-containers-target="button shown-when-mobile" 
      data-container-name="navigation" 
      data-action="click->containers#show">
      <%= t :"root.navigation.menu" %>
    </button>
  </h2>
</div>