<div id="root" class="two-columns" data-controller="containers">
  <%= render partial: "buttons" %>

  <%# render partial: "form" %>

  <%= render partial: "root/welcome" %>
  <%= render partial: "root/navigation" %>
</div>
