button,
input[type=submit],
input[type=button],
.button {
  display: block;
  background-color: transparent;
  color: var(--white);
  border: solid 1px var(--white);
  padding: 1em;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;

  box-sizing: border-box;
  width: 100%;
}

button.unstyled,
input[type=submit].unstyled,
input[type=button].unstyled,
.button.unstyled {
  border: none;
  border-bottom: solid 1px var(--white);
  
  padding: 0;
  white-space: normal;
  text-decoration: underline;
  width: unset;
}

input[type=submit].highlighted,
input[type=button].highlighted,
button.highlighted,
.button.highlighted {
  border: none;
  background-color: var(--teal);
  color: var(--black);
}

input[type=submit].danger,
input[type=button].danger,
button.danger,
.button.danger {
  color: var(--red);
  border-color: var(--red);
  background-color: transparent;
}

input[type=submit].disabled,
input[type=button].disabled,
button.disabled,
.button.disabled {
  color: var(--white-dim);
  pointer-events: none;
}

.button.selected {
  background-color: var(--red);
  border-color: var(--red);
}

form.button_to > * {
  width: 100%;
}

.buttons-container {
  display: grid;
  column-gap: 1rem;
  border: none;
  padding: 0;
}

.buttons-contanier > * {
  width: unset;
}

@media(min-height: 950px) and (max-width: 1100px) {
  .buttons-container {
    font-size: 1.25rem;
  }
}

@media(max-height: 850px), (max-width: 600px) {
  button,
  input[type=submit],
  input[type=button],
  .button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
