button,
input[type=submit],
input[type=button],
.button {
  display: block;
  background-color: transparent;
  color: var(--white);
  border: solid 1px var(--white);
  padding: 1em;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}

input[type=submit].disabled,
input[type=button].disabled,
button.disabled,
.button.disabled {
  color: var(--white-dim);
  pointer-events: none;
}

.button.selected {
  background-color: var(--red);
  border-color: var(--red);
}