* {
  // overflow: visible !important;
}

button,
input[type=submit],
input[type=button],
.button {
  --color: var(--white);

  display: block;
  color: var(--color);
  background-color: transparent;
  border: solid 1px var(--color);
  
  padding: 1em;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;

  box-sizing: border-box;
  width: 100%;

  cursor: pointer;
  user-select: none;

  font-family: var(--press-start-2p);
  text-transform: lowercase;

  transition: ease 0.2s;

  &.disabled,
  &:disabled {
    color: var(--white-dim);
    border-color: var(--white-dim);
    pointer-events: none;
  }

  &.unstyled {
    border: none;
    border-bottom: solid 1px var(--white);
    
    padding: 0;
    white-space: normal;
    text-decoration: underline;
    width: unset;
  }

  &.notice {
    --color: var(--accent-notice);
  }

  &.danger {
    --color: var(--accent-alert);
  }

  --selected-color: var(--black);
  --selected-bg-color: var(--accent-notice);
  --selected-border-color: var(--selected-bg-color);

  &.selected {
    color: var(--selected-color);
    background-color: var(--selected-bg-color);
    border-color: var(--selected-border-color);
  }

  &.secondary {
    --color: var(--secondary-control-color);
  }

  @media(hover: hover) {
    &:hover {
      box-shadow: 0px 0px 8px 0px var(--color);

      &.disabled,
      &:disabled {
        box-shadow: none;
      }

    }
  }

  &:active,
  &.clicked { 
    --color: var(--accent-notice);

    box-shadow: 0px 0px 8px 0px var(--color);
    color: var(--color);
    border: 1px solid var(--color);


    &.danger,
    &.notice,
    &.secondary {
      --color: var(--white);
    }
  }

  * {
    color: inherit;
  }

  @media(max-height: 850px), (max-width: 600px) {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

form.button_to > * {
  width: 100%;
}

.buttons-container {
  display: grid;
  column-gap: 1rem;
  border: none;
  padding: 0;
}

.buttons-contanier > * {
  width: unset;
}

@media(min-height: 950px) and (max-width: 1100px) {
  .buttons-container {
    font-size: 1.25rem;
  }
}
