.message {
  display: grid;
  grid-template-columns: auto;
  row-gap: 0.5ch;
}

.message * {
  font-family: var(--nunito-sans);
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--black);
}

.message > .username {
  text-align: left;
  text-transform: none;
  font-size: 12px;
}

.message > time {
  text-align: right;
  justify-self: right;
  align-self: center;
  font-size: 12px;
  font-weight: 600;
}

.message > p {
  border: 1px solid var(--white);
  background: var(--accent-notice-dimmest);
  padding: 1ch;
  overflow-wrap: anywhere;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}