.message-input {
  display: flex;
  gap: 1ch;
  border-bottom: solid 1px var(--white);
  
  input[type=text] {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    width: 100%;
    font-weight: 600;
  }

  input[type=image] {
    padding: 0.5rem;
  }

  input::placeholder {
    color: var(--white-dimmer);
  }
}
