.switch-container > div {
  display: grid;
  grid-template-columns: auto var(--slider-width);
}

/* label */
.switch-container > div > div:first-child {
  margin-bottom: 0 !important;
}

/* source: */
/* https://www.w3schools.com/howto/howto_css_switch.asp */

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: var(--slider-width);
  height: calc(var(--slider-width) * 0.5666666);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--slider-width) * 0.4333333);
  width: calc(var(--slider-width) * 0.4333333);
  left: calc(var(--slider-width) / 15);
  bottom: calc(var(--slider-width) / 15);
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent-notice);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-notice);
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--slider-width) * 0.4333333));
  -ms-transform: translateX(calc(var(--slider-width) * 0.4333333));
  transform: translateX(calc(var(--slider-width) * 0.4333333));
}

/* Rounded sliders */
.slider.round {
  border-radius: calc(var(--slider-width) * 0.5666666);
}

.slider.round:before {
  border-radius: 50%;
} 