/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_self
 *= require defaults_override
 *= require fonts
 *= require_directory ./utility
 *= require_directory ./components
 *= require_directory ./layouts
 *= require_directory ./views
 */

:root {
  
  $white: #ffffff;
  --white: #{$white};
  --white-dimmer: #{rgba($white, 0.7)};
  --white-dim: #{rgba($white, 0.5)};
  --white-dimmest: #{rgba($white, 0.4)};

  $black: #323876;
  --black: #{$black};
  --black-dimmer: #{rgba($black, 0.7)};
  --black-dim: #{rgba($black, 0.5)};

  // accent-notice
  $accent-notice: #00ffdd;
  --accent-notice: #{$accent-notice};
  --accent-notice-dimmest: #{rgba($accent-notice, 0.4)};

  // accent-alert
  $accent-alert: #ef3c5c;
  --accent-alert: #{$accent-alert};
  --accent-alert-dim: #{rgba($accent-alert, 0.5)};
  --accent-alert-dimmest: #{rgba($accent-alert, 0.4)};
  --accent-alert-most-dimmest: #{rgba($accent-alert, 0.2)};

  --background-gradient: linear-gradient(270.00deg, rgb(83, 217, 216),rgb(31, 182, 199) 100%);

  --slider-width: 5rem;
}

html, body {
  height: 100dvh;
  overflow: hidden;
}

body {
  background: var(--background-gradient);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
}

header,
main,
footer {
  max-width: 1600px;
  width: 90vw;
}

header {
  padding: 1rem 0 1.5rem 0;
  padding-top: clamp(0.75rem, var(--adaptive-font-size), 1rem);
  padding-bottom: clamp(0.75rem, var(--adaptive-font-size), 2rem);
  /* height: min(10%, 5rem); */
  min-height: 4rem;
  /*  for flash: */
  position: relative; 
}

main {
  height: 100%;
  min-height: 300px;
  padding-bottom: 2rem;
}

@media(max-height: 725px) {
  html, body {
    overflow-y: auto;
    max-height: unset;
  }
}
