/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_self
 *= require defaults_override
 *= require fonts
 *= require_directory ./utility
 *= require_directory ./components
 *= require_directory ./layouts
 *= require_directory ./views
 */

:root {
  --red: rgb(239, 60, 92);
  --white: rgb(255, 255, 255);
  --white-dim: rgba(255, 255, 255, 0.7);
  --black: rgb(50, 56, 118);
  --teal: rgb(0, 255, 221);
  --background-gradient: linear-gradient(270.00deg, rgb(83, 217, 216),rgb(31, 182, 199) 100%);
}

html, body {
  max-height: 100dvh;
  overflow: hidden;
}

body {
  background: var(--background-gradient);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  padding-bottom: 0rem;
}

@media(max-height: 550px) {
  html, body {
    overflow-y: auto;
    max-height: unset;
  }
}

header,
main,
footer {
  max-width: 1600px;
  width: 90vw;
}

main {
  margin-bottom: 2rem;
}

@media(max-height: 600px) {
  body {
    padding-top: 0.5rem;
  }
}
