/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_self
 *= default_override
 *= require fonts
 *= require_direcoty ./utility
 *= require_directory ./components
 *= require_directory ./layouts
 *= require_directory ./views
 */

body {
  background: linear-gradient(270.00deg, rgb(83, 217, 216),rgb(31, 182, 199) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header,
main,
footer {
  max-width: 1600px;
  width: 80vw;
}
