ul, ol, li {
  list-style: none;
  margin: unset;
  padding: unset;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px var(--white);
  padding: 1em;

  font-size: inherit;

  resize: none;
  
  box-sizing: border-box;
  width: 100%;
}

input:invalid {
  border-color: var(--red);
}

input[type=image] {
  border: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: unset;
}

fieldset > legend {
  border: unset;
  font-weight: 600;
}

input[type=number],
select {
  font-size: inherit;
  background-color: transparent;
  border: solid 1px var(--white);
  padding: 0.5em;
  padding-right: 0;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}
