:root {
  --adaptive-font-size: 2.5vh;
}

* {
  font-size: clamp(1rem, var(--adaptive-font-size), 1.5rem);
  // font-size: 1.5rem;
}

a {
  font-size: inherit;
}

:root {
  font-size: 16px;
}

@font-face {
  font-family: "Press Start 2P";
  src: font-url("PressStart2P-Regular.ttf"), format("truetype");
}


@font-face {
  font-family: "Nunito Sans";
  src: url("NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf"), format("truetype");
}


* {
  font-family: "Nunito Sans", system-ui;
}

h1, h2, h3, h4, h5, h6,
button,
input,
.button,
.label,
.value,
textarea {
  font-family: "Press Start 2P", system-ui;
}

* {
  color: var(--white);
}

