<%= form_with(model: joke, url: [game, round, joke], id: "new-joke") do |form| %>
  <% if joke.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(joke.errors.count, "error") %> prohibited this joke from being saved:</h2>

      <ul>
        <% joke.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_area :punchline, placeholder: "Введите текст...", aria_label: "Придумайте развязку к шутке" %>

  <% content_for(:action) do %>
    <input type="button" form="new-joke" value="Придумать">
    <input type="submit" form="new-joke" value="Отправить">
  <% end %>
<% end %>
