<div id="<%= dom_id joke %>">
  <p>
    <strong>Punchline:</strong>
    <%= joke.punchline %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= joke.text %>
  </p>

  <p>
    <strong>Round:</strong>
    <%= joke.round_id %>
  </p>

</div>
