<%= turbo_stream.append("suggestion-response") do %>
  <% if @suggestion.output %>
    <div class="suggestion" data-suggestion-target="response">
      <%= @suggestion.output %>
    </div>
  <% end %>
<% end %>

<%= render_turbo_flash %>