<% flashable = ((defined? flashable) && flashable) || flash %>
<div id="flash" class="<%= flashable[:notice] ? :notice : :alert %>">
  <%# binding.irb %>
  <% if flashable[:notice] || flashable[:alert] %>
    <%= tag.div class: ["message", "button", (flashable[:notice] ? :notice : :alert)].join(" "),
                data: {
                  controller: "flash",
                  action: "click->flash#hide"
                } do %>
      <%= flashable[:notice] || flashable[:alert] %>
    <% end %>
  <% end %>
</div>
