<div id="flash" class="<%= flash[:notice] ? :notice : :alert %>">
  <% if flash[:notice] || flash[:alert] %>
    <%= tag.div class: ["message", "button", (flash[:notice] ? :notice : :alert)].join(" "),
                data: {
                  controller: "flash",
                  action: "click->flash#hide"
                } do %>
      <%= flash[:notice] || flash[:alert] %>
    <% end %>
  <% end %>
</div>
