<div id="flash">
  <% if flash[:notice] %>
    <div class="message is-info level-item">
      <div class="message-body">
        <%= flash[:notice] %>
      </div>
    </div>
    <% end %>
  <% if flash[:alert] %>
    <div class="message is-warning level-item">
      <div class="message-body">
        <%= flash[:alert] %>
      </div>
    </div>
  <% end %>
</div>