<div id="flash">
  <% if flash[:notice] %>
    <div class="notice">
      <div class="message-body">
        <%= flash[:notice] %>
      </div>
    </div>
    <% end %>
  <% if flash[:alert] %>
    <div class="alert">
      <div class="message-body">
        <%= flash[:alert] %>
      </div>
    </div>
  <% end %>
  <style>
    #flash .alert { color: red; }
    #flash .notice { color: green; }
  </style>
</div>