<% flashable = ((defined? flashable) && flashable) || flash %>
<div id="flash" class="<%= flashable[:alert] ? :alert : :notice %>">
  <% if  flashable[:alert] || flashable[:notice] %>
    <%= tag.div class: ["message", "button", (flashable[:alert] ? :alert : :notice)].join(" "),
                data: {
                  controller: "flash",
                  action: "click->flash#hide"
                } do %>
      <%= flashable[:alert] || flashable[:notice] %>
    <% end %>
  <% end %>
</div>
