<nav class="three-columns">
  <div class="start">
    <%= render partial: "layouts/user_status", formats: %i[html], 
      locals: { game: (current_or_guest_user.game unless new_guest?) } %>
  </div>
  <h1 class="logo center">
    <%= link_to root_path do %>
      <div class="full">
        <span>Fine</span><span>joke</span>
      </div>
      <div class="short">
        <span>F</span><span>J</span>
      </div>
    <% end %> 
  </h1>
  <div class="end">
    <%= render partial: "layouts/user_profile" %>
  </div>
</nav>