<div id="user-status">
  <% if game&.persisted? %>
    <% if current_page?(game_path(game)) %>
      <%= link_to "Назад в лобби", games_path %>
      <p>Вы сейчас в <%= link_to "игре", game_path(game) %></p>
    <% else %>
      <%= link_to "В игре", game_path(game), class: "button" %>
    <% end %>
  <% else %>
    <%= yield(:join) %>
  <% end %>
</div>

