<% unless new_guest? || 
  (%w[sessions registrations passwords].include?(controller_name) && !current_page?(edit_self_profile_path)) %>
  <div class="profile">
    <%= link_to current_or_guest_user.username.truncate(14), profile_path(current_or_guest_user) %>
  </div>
  <div class="profile-short">
    <%= link_to current_or_guest_user.username[0], profile_path(current_or_guest_user) %>  
  </div>
  <% if current_or_guest_user.guest? %>
    <div class="notice">
      <%= t(".you_are_guest") %> 
      <%= link_to t(".wanna_sign_in"), new_user_registration_path %>
    </div>
  <% end %>
<% end %>
